*{
    margin: 0;
    padding: 0;
}
section{
    width: 20%;
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
body{ 
    height: 100vh;
    display: flex;
    background: url(im1.webp);
}
form input{
    margin: 5px 0;
    padding: 6px;
}
input [type='submit'] {
    width: 60px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px;
}
.error{
    color: rgb(243, 46, 7);
}
label{
    color: aliceblue;
}
h1{
    color: aliceblue;
    text-decoration: underline;
}
a{
    color: rgb(102, 102, 250);
}
P{
    color: aliceblue;
}

